@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
{ box-sizing: border-box; }
@keyframes pulse {
    50% {
        color: white;
    }
}
body {
	background: #111;
	color: #e53232;
	font-family: "lato";
	text-align: center;
}
button {
	font-family: "lato";
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 2px;
	color: rgba(255,255,255,.8);
    border: 0px #1c1c1c;
    background: #1c1c1c;
    outline: 0;
}
button:hover {
	color: rgba(255,255,255,.8);
	animation: pulse .38s infinite;
}
h2 {
	color: rgba(255,255,255,.8);
	font-family: "lato";
}
h4 {
	color: rgba(255,255,255,.5);
	font-family: "lato";
}
 .name { color: blue; }
ul {
	font-size: 16px;
	color: rgba(255,255,255,.5);
	line-height:20px;
 	margin: auto;
 	text-align: left;
 	max-width: 414px;
 }
 a:-webkit-any-link {
 	color: rgba(255,255,255,.8);
 	text-decoration: none;
 }
  a:-webkit-any-link:hover {
 	color: rgba(255,255,255,.8);
 	animation: pulse .38s infinite;
 }